---
---

@import "tale";

.nav {  
    li {
      @include transition(all .2s ease-out);
      color: $default-color;
      display: inline-block;
      opacity: 1;
      padding: 0 2rem 0 0;
  
      &:last-child {
        padding-right: 0;
      }
  
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
}